ul{
  list-style-type: none;
  padding: 0%;
}

.flex-container{
  background-color: #1b1b24;
   color: white;
   width: 100px;
   height: 100vh;
   display:flex;
   flex-direction: column;
   justify-content: center;
   padding: 0; margin: 0;
 }

 .flex-container :first-child{
  margin-top: 5px;
  justify-content: flex-start;
 }

 #logo{
  width: 6rem;
  margin-top: 5px;
  ;
} 
 .flexdiv{
  width: 100px;
  margin: 0px;
  text-align: center;
  line-height: 75px;
  font-size: 10px;
 }