.footer{
    display: flex;
    background-color: black;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    // margin-right: 20px;
    margin: 0;
    padding: 0;
    position: sticky;
    width: 100%;
    height: 79px;
    img{
        margin-right: 25px;
        cursor: pointer;
        height: 49px;
        width: 49px;
    }
}