.footer{
    display: flex;
    background-color: black;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 20px;
    position: sticky;
    img{
        padding: 20px;
        cursor: pointer;
    }
}