@font-face {
  font-family: "MonsterFriend";
  src: local("MonsterFriendFore"),
   url("./fonts/MonsterFriendFore.otf") format("truetype");
  font-weight: regular;
  }
  
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
